#wrapper {
  width: 60%;
  margin: auto;
  margin-top: 30px;
}

body {
  background-image: url("backgroundimg.png");
  background-size: cover;
}

#border {
  background-color: white;
  color: black;
  padding: 10px;
}

.icon {
  height: 300px;
}

ul {
  list-style-image: url("icon.png");
  color: black;
}

.borderimg {
  border-width: 20px;
  border-style: solid;
  border-image: url("borderimg.png") 30; 
}